<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>


    <div id="test">
        <input type="" name="" v-model="search">
        <ul>
            <li v-for="(p,index) in fPersons" :key="index">
                {{index}}--{{p.name}}--{{p.age}}
            </li>

        </ul>
        <button type="" @click="setOrder(0)">原序</button>
        <button type="" @click="setOrder(1)">升序</button>
        <button type="" @click="setOrder(2)">降序</button>

    </div>
</body>
<script src="vue.min.js"></script>
<script>
    window.onload = function(){

        new Vue({
            el:"#test",
            data:{
                persons:[
                    {name:"p1",age:15},
                    {name:'p2',age:16},
                    {name:'p3',age:12},
                    {name:'p4',age:15},
                    {name:'p5',age:13}

                ],
                search:'',
                order:0,    /* 0为原本顺序 1为升序 2为降序*/



            },
            methods:{
                setOrder(order){
                   this.order = order

                }

            },

            computed:{
                fPersons:function(){
                   const {search,persons,order} = this


                   let one
                        one = persons.filter(function(p){    //过滤所有persons
                            return Object.keys(p).some(function(key){
                                return String(p[key]).toLowerCase().indexOf(search) !== -1 //过滤的产品名
                            })
                        })


                    if(order!==0){
                            one.sort(function(p1,p2){  
                                if(order==2){   
                                    return p2.age - p1.age

                                }else{
                                    return p1.age - p2.age
                                }

                            })
                        }





                     return one

                }


            }

        })


    }

</script>
</html>
